# --- APP ---
APP_SHUTDOWN_TIMEOUT=10s

# --- HTTP ---
HTTP_PORT=8080
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=10s
HTTP_REQUEST_TIMEOUT=30s

# --- MySQL ---
MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_PORT=3306

# --- Logger ---
LOGGER_LEVEL=debug

# --- MinIO ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
